/* место для вашего кода */

.header {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 92px 49px 92px 51px;
    text-underline-offset: 3.5px;
}

.menu {
    align-self: center;
}

.header-menu {
    display: flex;
    /* align-self: center; */
    font-size: 18px;
    list-style-type: circle;
    text-decoration: underline;
    gap: 32px;
}

ul > li:first-child {
    list-style-type: none;
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-size: 135%;
    align-self: center;
    text-underline-offset: 5.5px;
}


.logo {
    width: 140px;
}

.cover {
    display: flex;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 757px;
}

.title {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 30px;
    padding: 165px 50px 237px 50px;
}

/*lots*/

.lots {
    padding: 180px 50px;
}

.section-title {
    font-size: 40px;
    text-transform: uppercase;
}

.lots .section-title {
    padding-left: 40px;
    padding-bottom: 27px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 1340px;
}

.card-lot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    width: 430px;
    height: 450px;
    padding: 50px 40px;
}

.card-1 {
    background-image: url("../images/card-lot-01.jpg");
}

.card-2 {
    background-image: url("../images/card-lot-02.jpg");
}

.card-3 {
    background-image: url("../images/card-lot-03.jpg");
}

.lot-title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 2.5px;
}

.lot-text {
    font-size: 20px; /*можно вынести это в свойстов body*/
}