/* место для вашего кода */

/* common blocks */

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    line-height: 135%;
    text-underline-offset: 3.5px;
}

.cover::before,
.card::before {
    content: '';
    position: absolute;
    inset: 0;;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    margin: 90px 0 90px;
}

.header__menu {
    flex: 1 1 0;
}

.header__links-list {
    display: flex;
    list-style-type: circle;
    gap: 33px;
    font-size: 18px;
    text-underline-offset: 3.5px;
}

/* .header__links-list-item {

} */

.header__links-list-item_no-bullit {
    list-style: none;
}

/* .header__link {

} */

.header__link_active {
    text-decoration: none;
}

.header__logo { /* сделать блок по середине */
    flex: 0 0 140px;
    /* width: 140px; */
}

/* .header__logo-image {

} */

.header__address {
    flex: 1 2 0;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

/* cover - section */

.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 125px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: #FFF;
    position: relative;
    z-index: -1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    gap: 10px;
    margin-top: 115px;
    position: relative;
}

/* .aligned-text {

} */

.aligned-text_center {
    align-self: center;
}

.aligned-text_right {
    align-self: flex-end;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    align-self: end;
    display: flex;
    font-size: 22px;
    line-height: 128%;
    gap: 78px;
    position: relative;
}

.cover__description-text {
    align-self: center;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 18px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #FFF;
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    line-height: 26px;
    width: 257px;
    height: 52px;
}

/* lots - section */

.lots {
    padding: 0 50px;
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 25px;
    list-style-type: none;
}

/* .lots__card-list-item {
    flex-grow: 1;
} */

.card-link {
    display: block;
    text-decoration-line: none;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    width: 430px;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    position: relative;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 2.5px;
    position: relative;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
    position: relative;
}

/* about - section*/

.about {
    display: flex;
    padding: 0 50px;
    gap: 25px;
}

/* .about__column {
    align-self: flex-start;
} */

.about__logo {
    display: flex;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 95px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    padding: 100px 0;
}

.about__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 25px;
}

.lots__look-more-link {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 180px 0 90px;
}

/* .footer__menu {

} */

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    list-style: none;
    text-underline-offset: 3.5px;
}

/* .footer__menu-list-item {

} */

/* .footer__menu-link {

} */

.footer__menu-link_active {
    text-decoration: none;
}

/* .footer__social {

} */

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__social-list-item {
    width: 48px;
}

/* .footer__social-link {

} */

/* .footer__social-icon {

} */