/* место для вашего кода */

body {
    text-underline-offset: 3.5px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 90px 50px;
    font-size: 18px;
    line-height: 24.3px;
}

.header__menu {
    align-self: center;
} /* ??? */

.header__links-list {
    display: flex;
    list-style-type: circle;
    gap: 35px;
}

.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}

.header__logo {
    width: 140px;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    line-height: 24.3px;
}

/* 
.header {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 92px 49px 92px 51px;
    text-underline-offset: 3.5px;
}

.header__menu {
    align-self: center;
}

.header__links-list {
    display: flex;
    align-self: center;
    font-size: 18px;
    list-style-type: circle;
    text-decoration: underline;
    gap: 32px;
} 

.header__links-list-item_no-bullit {
    list-style-type: none;
    text-decoration: none;
}

/* ul > li:first-child {
    list-style-type: none;
    text-decoration: none;
} */
/* 
.address {
    display: flex;
    flex-direction: column;
    font-size: 135%;
    align-self: center;
    text-underline-offset: 5.5px;
}

/*cover*/

.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1440px;
    height: 757px; */
}

.overlay {
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 50px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 30px;
    gap: 20px;
    padding: 115px 0 115px 0;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: block;
    align-self: center;
}

.aligned-text_right {
    display: block;
    align-self: flex-end;
    letter-spacing: 60px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    align-self: end;
    display: flex;
    font-size: 22px;
    gap: 78px;
}

.cover__description-text {
    align-self: center;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 18px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #FFF;
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    line-height: 26px;
    width: 257px;
    height: 52px;
}

/*lots*/

.lots {
    padding: 180px 50px;
}

.section-title {
    font-size: 40px;
    text-transform: uppercase;
}

.lots .section-title {
    padding-left: 40px;
    padding-bottom: 27px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 1340px;
}

.card-lot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    width: 430px;
    height: 450px;
    padding: 50px 40px;
}

.card-1 {
    background-image: url("../images/card-lot-01.jpg");
}

.card-2 {
    background-image: url("../images/card-lot-02.jpg");
}

.card-3 {
    background-image: url("../images/card-lot-03.jpg");
}

.lot-title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 2.5px;
}

.lot-text {
    font-size: 20px; /*можно вынести это в свойстов body*/
}

/* about */

.about {
    display: flex;
    padding: 0 50px;
    gap: 25px;
}

.about__column {
    align-self: center;
    align-self: flex-start;
}

.about__logo {
    display: flex;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 95px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    padding: 100px 0;
}

.about__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 25px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 50px;
}

.footer__menu {

}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-list-item {

}

.footer__menu-link {

}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social {

}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__social-list-item {

}

.footer__social-link {

}

.footer__social-icon {
    width: 48px;
}